In [70]:
import pandas as pd
import requests
import json

In [84]:
URL = 'https://nba-longevity.herokuapp.com/predict'
URL2 = 'http://127.0.0.1:59744/predict'

In [79]:
data = {'Player':'Julius Randle'}
data = json.dumps(data)
data

'{"Player": "Julius Randle"}'

In [85]:
x = requests.post(URL2, data)


print(x.text)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>500 Internal Server Error</title>
<h1>Internal Server Error</h1>
<p>The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.</p>

In [47]:
df = pd.read_csv('nbads.csv')
df.head()

,Team,FG_Percentage,TP_Percentage,FT_Percentage,Minutes.per.Game,Points.per.Game,TRB.per.game,Assits.per.Game,WS_per_game,BPM,VORP,Player
0,TOR,0.483,0.349,0.777,33.413317,14.983668,7.685930,3.443467,79.5,3.4,36.3,Marc Gasol
1,TOR,0.441,0.343,0.807,16.835938,7.089844,2.132812,1.214844,7.3,-1.4,0.6,Norman Powell
2,TOR,0.529,0.310,0.748,23.612903,10.165899,5.142857,1.976959,15.7,2.3,5.5,Pascal Siakam
3,TOR,0.461,0.350,0.600,20.204225,6.464789,2.732394,0.718310,5.0,-0.4,1.2,OG Anunoby
4,TOR,0.423,0.367,0.805,31.302217,14.442240,4.269545,6.102684,86.8,3.8,39.3,Kyle Lowry

In [51]:
data['Player']

TypeError: string indices must be integers